.imgslideshow {
  text-align: center;
  border-radius: 9px;
  height: 20vw;
  width: 70vw;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.imgslide {
  margin-top: 1vw;
}
@media only screen and (max-width: 900px) {
  .imgslideshow {
    border-radius: 9px;
    height: 40vw;
    width: 93vw;
    border: 1px solid rgba(152, 149, 149, 0.55);
  }

  .cards {
    margin-top: 20vw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: repeat(auto-fill, 20vw);
    grid-row-gap: 10em;
    grid-column-gap: 5em;
    padding-left: 5vw;
  }

  .product-card.container {
    align-items: center;
    margin: 5%;
    width: 30vw;
    height: 40vw;
    background: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25),
      inset 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .product-card.label {
    font-size: 3vw;
    text-align: center;
  }
  .product-card-img {
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border-radius: 10px;
  }
}
